body {
	background-color: black;
	color: rgb(211, 208, 207); /* Celestial on cloth */
	margin: 0;
	padding: 0;
}

h1, h2 {
	color: rgb(156, 126, 81); /* Antique Gold on cloth */
}

.darkened, small {
	color: rgb(142, 138, 120); /* Matte on cloth */
}

a, a:visited {
	color: #6666ff;
}
a, a:hover {
	color: #aaaaff;
}
